<?xml version="1.0" encoding="utf-8"?>
<jnlp spec="1.0" xmlns:jfx="http://javafx.com" href="chessmine-1.0.jnlp">
	<information>
		<title>$project.Name</title>
		<vendor>$project.Organization.Name</vendor>
		<description>$project.Description</description>
		<offline-allowed />
	</information>
	<resources>
		<jfx:javafx-runtime version="2.2+" href="http://javadl.sun.com/webapps/download/GetFile/javafx-latest/windows-i586/javafx2.jnlp" />
	</resources>
	<resources>
		<j2se version="1.7+" href="http://java.sun.com/products/autodl/j2se" />
		$dependencies
	</resources>
	<security>
		<all-permissions />
	</security>
	<applet-desc width="800" height="600" main-class="com.javafx.main.NoJavaFXFallback" name="chessmine-1.0">
		<param name="requiredFXVersion" value="2.2+" />
	</applet-desc>
	<jfx:javafx-desc width="800" height="600" main-class="$mainClass" name="chessmine-1.0" />
	<update check="background" />
</jnlp>